<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
</head>

<body>
<div style="color:black">
<h1>Did you like the movie?? </h1>
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="review" placeholder="Enter here:" required="required" />
        <button type="submit">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
 <style>
  body {
      background-color: lightslategray;
      text-align: center;
      padding: 0px;
  }
  div{
    background-color: yellowgreen;
  }
</style>
    </body>
</html>